/* these are styles for all the pages  */

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('/img/vidar-nordli-mathisen-PJiv1ekeVZk-unsplash.jpg');
    background-size: cover;
}

/*general display stuff*/
nav, h1, p, button, div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /*overall text colour*/

}

/*the nav bar itself */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px 1px;
    border: 1px solid #666;
    background-color:#dafff3;
    font-size: 18px;
}

/* the website links */
a{
    margin: -5px;
    outline: none;
    text-decoration: none;
}

a:link , a:visited{
    color: #8a2be2;
}

/* The website name that is in the nav bar */
.nav-header{
    color:blueviolet;
    font-family:'Times New Roman', Times, serif;
    font-size: 27px;
    font-weight: bold;
    margin-right: 430px;
}

/* The titles for all the pages*/
h1{
    color:rgb(138, 43, 226);
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
}

.calendar_parent{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border:1px solid black;
    padding-right: 5%;
   
}

.calendar_child , div{
    text-align: center;
    background:white;
    border:1px solid black;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}




