
/* these are styles for all the pages  */

/* Variable created for styling used in the Radio buttons */
:root {
    --form-control-color: #599bb3;
    --font-family: sans-serif;
}

/* Used to make the sizing uniform for any device which is on using the radio buttons */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.darkmode{
    background-color: black;
    color: white;
    border-color: white;
}

.lightmode{
    background-color: white;
    color: black;
    border-color: black;
    /* original colors
    background-color: #dafff3;
    color:blueviolet;*/
}

.lightmode a{
    color: black;
}


.darkmode a{
    color: white;
}

.lightmode div{
    color: black;
    border-color: black;
}


.darkmode div{
    color: white;
    border-color: white;
}


.lightmode input[type="radio"]:checked {
    background-color: black;
}

.darkmode input[type="radio"]:checked {
    background-color: white;
}




body{

    font-family: var(--font-family);
    /* background-image: url('/img/vidar-nordli-mathisen-PJiv1ekeVZk-unsplash.jpg'); */
    background-size: cover;

}

/*general display stuff*/
nav, h1, h2, p, button, div{
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: white; /*overall text colour*/
    
}

/*the nav bar itself */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5% 0.5%;
    font-size: 1.1rem;
    height: 70px;
}

/* the website links */
a{
    margin: 2%;
    outline: none;
    text-decoration: none;
}



a:link.lightmode , a:visited.lightmode{
    color: black;
}
a:link.darkmode , a:visited.darkmode{
    color: white;
}

/* The website name that is in the nav bar */
.nav-header{

    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: bold;
    margin-right: 25%;
}

/* The titles for all the pages*/
h1{

    font-family: var(--font-family);

    font-size: 35px;
}

p{
    margin-right: 45px;
}

/* weather outlook for saturday and sunday */

#weekendgrid{
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(3, 1fr);
    width: 70%;
    margin-left: 200px;
    margin-top: 20px;
}

#weekendgrid div{
    padding: 5px;
    border:1px solid;
    font-weight: 600;    
}

/* Tide Module */
.tide_module *{
    padding: 0px;
    margin: 0px;
}

.tide_module{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    /*background-color: black;*/
    margin: 0px 20px;
    /*box-shadow: 5px 5px 5px rgb(44, 33, 85);*/
    margin-top: 20px;
}

.tide_module > h1{
    /*color: white;*/
    padding: 10px 0px 5px 0px;
    /*text-shadow: 2px 2px 2px rgb(44, 33, 85);*/

}

.tide_module > h1 > span{
    padding-left: 10px;
    /*color:#dafff3;*/
}

.chart_container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-bottom: 30px;
}

.chart_div{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.chart_div > h2{
    padding-bottom: 10px;
}

.dropbtn:nth-child(1){
    position: relative;
}

.chart_div > img{
    width: 100%;
    box-shadow: 5px 5px 5px rgb(44, 33, 85);
    transition: 0.2s;
}

.chart_div > img:hover 
{
    transform: scale(1.01);
}
@media (max-width:1250px){
    .chart_container{
        flex-direction: column;
    }

}

.dropbtn{
    /*color: rgb(138, 43, 226);
    background-color:#dafff3;*/
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    left: 2%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -6.5%;
    min-width: 160px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#grid4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 55%;
    margin-bottom: 100px;
    }

#grid4 div{
    padding: 5px;
    border:1px solid black;
}

/* Used in the radio buttons styling */
.form-control {

    font-family: var(--font-family);

    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin-bottom: 10px;

  }

  /* Styling the radio buttons inserted on the page */

input[type="radio"] {
    appearance: none;
    /* background-color: #fff; */
    margin: 0;
    font: inherit;
    color:gray;
    /*color: #599bb3;*/
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
}


/* Styling an Unchecked radio button */
input[type="radio"]::before {
    content: "";
    width: 0.2em;
    height: 0.2em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

  
input[type="radio"]:checked::before {
    transform: scale(1);
}


input[type="radio"]:checked {

    background-color: black;
    /*background-color: #8a2be2;*/
}




.inputgridholder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
 .inputgridholder ul {
    display: block;
    padding: 0%;
} 


.form-control + .form-control {
    margin-top: 0.5em;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: var(--font-family);
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

i{
display: flex;
justify-content: center;
align-items: center;
position: relative;
background-color: #deece8;
/*color:rgb(138, 43, 226);*/
border-radius: 10px;
border: 2px solid grey;
padding: 2px;
width: 20px;
cursor: pointer;
}

@media screen and (max-width: 1168px){
    .nav-header{
      font-size: 1.5rem;  
    }
}

@media screen and (max-width: 900px){
    .nav-header{
        margin-right: 2%;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 770px){

    nav, #select{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 641px){
    .nav-header{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 590px){
    .nav-header{
        font-size: 0.9rem;
    }

    nav, #select{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 445px){
    .nav-header{
        font-size: 0.8rem;
    }

    nav, #select{
        font-size: 0.6rem;
    }
}

i:hover{
    background-color: #f1f1f1;   
}
/* tide calendar */
.calendar_parent{
    background:white;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 5%; 
    text-align: center; 
}

.calendar_child div{
    border:1px solid black;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}
