<nav>
    <h1 class="nav-header">The Docking Station</h1> <!--my suggestion for website name-->
    <a href="/">Homepage</a>
    <a href="/tides">Tides</a>
    <a href="/wind">Wind</a>
    <a href="/cancellations">Cancellations</a> 

    <i onclick="dropFunction()" id="select" class="dropbtn">↓</i>
    
    <div class="dropdown">
        <button onclick="dropFunction()" id="select" class="dropbtn">Locations
        </button>
        <div id="Dropdown" class="dropdown-content">
        </div>
    </div>

    </nav>

<script src="/js/dropdown.js"></script>