<nav class="lightmode">
    <h1 class="nav-header lightmode">The Docking Station</h1> <!--my suggestion for website name-->
    <a href="/" class="lightmode_text">Homepage</a>
    <a href="/tides" class="lightmode_text">Tides</a>
    <!-- <a href="/wind">Wind</a>
    <a href="/cancellations">Cancellations</a>  -->
    
    <div class="dropdown">
        <button onclick="dropFunction()" id="select" class="dropbtn lightmode">Locations
        </button>
        <div id="Dropdown" class="dropdown-content">
        </div>
    </div>

    <i onclick="dropFunction()" id="select" class="dropbtn lightmode">🡇</i>

    </nav>

<script src="/js/dropdown.js"></script>