<nav>
    <h1 class="nav-header">The Docking Station</h1> <!--my suggestion for website name-->
    <a href="/">Homepage</a>
    <a href="/tides">Tides</a>
    <a href="/wind">Wind</a>
    <a href="/cancellations">Cancellations</a>

    <div class="dropdown">
        <button onclick="dropFunction()" id="select" class="dropbtn">Locations</button>
        <div id="Dropdown" class="dropdown-content">
          <a class="marina" onclick="selectLocation1()" href="#Marina">Marina</a>
          <a class="vauxhall" onclick="selectLocation2()" href="#VauxhallYachtClub">Vauxhall Yacht Club</a>
          <a class="chalmers" onclick="selectLocation3()" href="#PortChalmers">Port Chalmers</a>
          <a class="broadbeach" onclick="selectLocation4()" href="#BroadBayBoating">Broad Bay Boating</a>
          <a class="tairo" onclick="selectLocation5()" href="#TairoaHead">Tairoa Head</a>
        </div>
      </div>

      <i class="fa fa-caret-down"></i>
      
</nav>